---
type Option = {
  id: string
  label: string
  checked?: boolean
}

interface Props {
  option: Option
}

const { option } = Astro.props as Props
---

<label
  class="has-checked:bg-dark border-grey focus:border-dark hover:border-dark group relative cursor-pointer border p-3 transition-colors duration-300"
  for={option.id}
  tabindex={0}
  aria-label={option.label}
>
  <input
    tabindex={-1}
    class="peer absolute -z-10 opacity-0"
    type="radio"
    name="Categories"
    id={option.id}
    data-name="Categories"
    value={option.id}
    checked={option.checked}
  />
  <span
    class="peer-checked:text-light group-hover:text-dark text-dark-60 text-sm transition-colors"
  >
    {option.label}
  </span>
</label>
