---
import BlockDecoration from '@/components/BlockDecoration.astro'
import Arrow from '@/assets/arrow.svg'
import { heroCopy } from '@/data/site-data'
import photo from '@/assets/photo.png'
import DiagonalArrow from '@/assets/diagonalArrow.svg'
import HoverImageSlider from '@/components/HoverImageSlider'

const { slogan, name, description, details, socialLinks } = heroCopy
---

<section id="hero" class="overflow-hidden">
  <div>
    <header class="border-b-grey relative border-b">
      <div class="inline-flex overflow-hidden whitespace-nowrap" data-slider>
        <h1
          data-slider-content
          aria-label="Yangua Ruiz Samir Kenyi"
          class="font-secondary 2md:text-[14vw] inline-block flex-none whitespace-nowrap px-6 text-[16vw] tracking-tighter"
        >
          YANGUA SAMIR
        </h1>
      </div>
    </header>

    <!-- body -->
    <div class="border-b-grey relative grid grid-cols-[1fr_1fr_2fr] border-b">
      <!-- TOTAL PROJECTS  -->
      <div
        class="2md:items-stretch 2md:flex-col 2md:col-start-auto 2md:col-span-1 2md:row-start-auto 2md:border-t-0 border-t-grey 1.5xs:col-span-2 1.5xs:pr-0 1.5xs:col-start-2 col-span-3 col-start-1 row-start-2 flex w-full items-center justify-between gap-x-4 border-t pl-6"
      >
        <div class="2md:p-6 flex gap-4 leading-none">
          <div class="bg-dark size-2 shrink-0 translate-y-full"></div>
          <p class="text-18px-size leading-tight">Conoce mis proyectos mas&nbsp;recientes</p>
        </div>

        <div class="border-t-grey 2md:border-t 2md:px-6 flex flex-col gap-3 py-4 leading-none">
          <h2 class="2md:block hidden">Proyectos</h2>
          <span id="total-projects" class="font-secondary 2md:pr-0 pr-6 text-6xl">15</span>
        </div>
      </div>

      <!-- IMAGE -->
      <div
        class="2md:row-start-auto 2md:col-start-2 1.5xs:flex border-t-grey 2md:border-t-0 col-start-1 row-start-2 hidden w-full items-start border-t"
      >
        <div
          class="border-grey 2md:border-b text-lightergrey relative flex w-full justify-center border-l p-10"
        >
          <HoverImageSlider
            client:only="react"
            images={['/me/photo_01.webp', '/me/photo_02.webp', '/me/photo_03.webp']}
            interval={800}
          />

          <BlockDecoration />
        </div>
      </div>

      <!-- DESCRIPTION -->
      <div class="2md:col-start-3 2md:col-span-1 col-span-3 col-start-1 row-start-1 flex w-full">
        <article class="relative mx-[1px] flex flex-col pb-24">
          <div class="bg-light">
            <header
              class="text-12px-size divide-grey border-r-grey flex max-w-max divide-x border-r leading-none"
            >
              <span class="bg-primary border-primary inline-block border px-3 py-1.5">RR.SS</span>
              {
                socialLinks.map((link) => {
                  return (
                    <a
                      class="border-grey group inline-flex items-center gap-2 border-b px-3 py-1.5"
                      href={link.url}
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      <span>{link.label}</span>
                      <DiagonalArrow class="h-auto w-2 transition-transform duration-200 ease-linear group-hover:-translate-y-0.5 group-hover:translate-x-0.5" />
                    </a>
                  )
                })
              }
            </header>
          </div>

          <div class="bg-light h-full px-8 py-10 text-sm leading-normal">
            <p>
              <span class="text-primary">{slogan}</span> Hola, soy&nbsp;<span class="font-semibold"
                >{name}</span
              >y{description}
            </p>
          </div>

          <footer class="border-y-grey bg-light flex border-y">
            <div class="relative flex-1">
              <div
                class="divide-grey grid grid-cols-2 grid-rows-2 px-4 leading-none xl:grid-cols-4 xl:grid-rows-1 xl:divide-x"
              >
                {
                  details.map((detail) => {
                    return (
                      <div class="flex flex-col gap-2 whitespace-nowrap px-4 py-6">
                        <span>{detail.value}</span>
                        <span class="text-dark-60 text-sm">{detail.label}</span>
                      </div>
                    )
                  })
                }
              </div>
              <!-- Lines -->
              <div
                aria-hidden="true"
                class="pointer-events-none absolute inset-0 flex w-full justify-center xl:hidden"
              >
                <div class="bg-grey absolute inset-y-0 top-0 w-[1px]"></div>
                <div class="bg-grey absolute inset-x-0 left-0 top-1/2 h-[1px]"></div>
              </div>
            </div>

            <!-- LINK ITEM -->
            <a href="/contact" class="peer absolute inset-0 bottom-16 top-7 z-10"></a>

            <div
              class="border-l-grey peer-hover:bg-primary relative flex w-24 items-center justify-center overflow-hidden border-l transition-colors duration-500 peer-hover:[&>:nth-child(1)]:-translate-x-1/2 peer-hover:[&>:nth-child(2)]:translate-x-32"
            >
              <Arrow
                class="-translate-1/2 absolute inset-1/2 h-auto w-6 -translate-x-32 transition-transform duration-500"
              />
              <Arrow
                class="-translate-1/2 absolute inset-1/2 h-auto w-6 transition-transform duration-500"
              />
            </div>
          </footer>
        </article>
      </div>
    </div>
  </div>
</section>

<script>
  import createInfiniteSlider from '@/lib/create-infinite-slider'
  import { $ } from '@/lib/dom-selector'

  const slider = $('[data-slider]') as HTMLElement
  const sliderContent = slider?.firstElementChild as HTMLElement
  createInfiniteSlider({ slider, sliderContent })
</script>
