---
import BlockDecoration from '@/components/BlockDecoration.astro'
import FiltersPanel from '@/components/FiltersPanel.astro'
import { projectsList } from '@/data/site-data'
import DiagonalArrow from '@/assets/diagonalArrow.svg'
---

<section id="projects">
  <FiltersPanel />

  <div class="relative">
    <div class="grid gap-x-20 gap-y-12 p-10 md:grid-cols-2">
      {
        projectsList.toReversed().map((project) => {
          const { details, category, cover, description } = project

          return (
            <div data-category={category} class="bg-light border-grey group border">
              <div class="relative">
                <div class="p-10 md:p-5 lg:p-8 xl:p-10">
                  <div class="size-full overflow-hidden">
                    <img
                      class="grayscale-50 pointer-coarse:grayscale-0 aspect-video w-full object-cover transition-all duration-300 group-hover:scale-105 group-hover:grayscale-0"
                      src={cover}
                      alt={details[0].value}
                    />
                  </div>
                </div>

                <BlockDecoration />
              </div>
              <div class="relative">
                <footer class="text-dark-60 border-t-grey grid grid-cols-2 grid-rows-2 border-t text-center text-sm">
                  {details.map((detail) => {
                    return (
                      <>
                        {detail.type === 'link' ? (
                          <a
                            class="flex size-full items-center gap-2 px-4 py-7 text-left transition-colors duration-300 hover:underline"
                            href={detail.value}
                            target="_blank"
                            rel="noopener noreferrer"
                          >
                            <span>{detail.label}</span>
                            <DiagonalArrow />
                          </a>
                        ) : (
                          <div class="row-span-2 flex flex-col gap-2 px-4 py-7 text-left">
                            <span class="text-dark">{detail.value}</span>
                            <span class="text-xs">{description}</span>
                          </div>
                        )}
                      </>
                    )
                  })}
                </footer>

                <div
                  aria-hidden="true"
                  class="pointer-events-none absolute inset-0 flex w-full justify-center"
                >
                  <div class="bg-grey absolute inset-y-0 left-1/2 top-0 w-[1px]" />
                  <div class="bg-grey absolute inset-x-0 left-1/2 top-1/2 h-[1px]" />
                </div>
              </div>
            </div>
          )
        })
      }
    </div>
  </div>
</section>
