---
import BlockDecoration from '@/components/BlockDecoration.astro'
import FiltersPanel from '@/components/FiltersPanel.astro'
import { projectsList } from '@/data/site-data'
import DiagonalArrow from '@/assets/diagonalArrow.svg'
---

<section id="projects">
  <FiltersPanel />

  <div class="relative">
    <div id="projects-wrapper" class="2md:gap-x-20 1.5md:grid-cols-2 grid gap-x-10 gap-y-12 p-10">
      {
        projectsList.toReversed().map((project) => {
          const { details, category, cover, description } = project

          return (
            <div
              data-category={category}
              class="project bg-light border-grey group flex flex-col border"
            >
              <div class="relative">
                <div class="xs:p-10 p-5 md:p-5 lg:p-8 xl:p-10">
                  <div class="size-full overflow-hidden">
                    <img
                      class="grayscale-50 pointer-coarse:grayscale-0 aspect-video w-full object-cover transition-all duration-300 group-hover:scale-105 group-hover:grayscale-0"
                      src={cover}
                      alt={details[0].value}
                    />
                  </div>
                </div>

                <BlockDecoration />
              </div>
              <div class="relative flex-1">
                <footer class="text-dark-60 border-t-grey xs:divide-y-0 divide-grey xs:grid-cols-2 xs:grid-rows-2 grid grid-rows-[1fr_auto_auto] divide-y border-t text-center text-sm">
                  {details.map((detail) => {
                    return (
                      <>
                        {detail.type === 'link' ? (
                          <a
                            class="hover:text-dark hover:bg-primary pointer-coarse:text-dark xs:h-auto flex size-full h-min items-center justify-center gap-2 px-4 py-7 text-left transition-colors duration-300 hover:[&>svg]:-translate-y-1 hover:[&>svg]:translate-x-1"
                            href={detail.value}
                            target="_blank"
                            rel="noopener noreferrer"
                          >
                            <span>{detail.label}</span>
                            <DiagonalArrow class="transition-transform duration-300" />
                          </a>
                        ) : (
                          <div class="xs:col-span-2 flex flex-col gap-2 px-4 py-7 text-left xl:col-span-1 xl:row-span-2">
                            <span class="text-dark">{detail.value}</span>
                            <span class="text-balance text-xs">{description}</span>
                          </div>
                        )}
                      </>
                    )
                  })}
                </footer>

                <div
                  aria-hidden="true"
                  class="xs:flex pointer-events-none absolute inset-0 hidden w-full justify-center"
                >
                  <div class="bg-grey absolute inset-y-0 left-1/2 top-1/2 w-[1px] xl:top-0" />
                  <div class="bg-grey absolute inset-x-0 left-0 top-1/2 h-[1px] xl:left-1/2" />
                </div>
              </div>
            </div>
          )
        })
      }
    </div>
  </div>
</section>

<script>
  import { $, $$ } from '@/lib/dom-selector'

  const form = $('#filters-form')
  const projectsWrapper = $('#projects-wrapper') as HTMLElement

  form?.addEventListener('change', (e) => {
    const target = e.target as HTMLInputElement
    const inputType = target.type
    const category = target.value

    if (inputType === 'radio') {
      for (const project of projectsWrapper.children) {
        const cat = (project as HTMLElement).dataset.category
        project.classList.toggle('hidden', category !== 'all' && cat !== category)
        project.setAttribute(
          'aria-hidden',
          category !== 'all' && cat !== category ? 'true' : 'false',
        )
      }

      updateResultsCount()
    }
  })

  function updateResultsCount() {
    const shown = $$('.project:not(.hidden)')
    const elementTotalProjets = $('#total-projects') as HTMLElement
    elementTotalProjets.textContent = `${shown.length}`.padStart(2, '0')
  }
</script>
