---
import Analytics from '@vercel/analytics/astro'
import '@/styles/global.css'
import BodyLines from '@/components/BodyLines.astro'
import Header from '@/sections/Header.astro'
import Footer from '@/sections/Footer.astro'

interface Props {
  title: string
  description?: string
  canonical?: string
  robots?: string
}

const { title = 'Title', description, canonical, robots } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <!-- Preload fonts so that the font change is not visible when the page loads -->
    <link
      rel="preload"
      href="/fonts/RobotoMono-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/AtAmiga-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />

    <meta name="description" content={description} />
    {canonical && <link rel="canonical" href={canonical} />}
    {robots && <meta name="robots" content={robots} />}

    <!-- METATAGS -->
    <meta property="og:url" content="https://yangua.dev" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://yangua.dev/og.jpg" />
    <meta property="og:locale" content="es_ES" />
    <meta property="og:site_name" content="yangua.dev" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@syangua07" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="https://yangua.dev/og.jpg" />
    <Analytics />
  </head>
  <body class="flex flex-col">
    <BodyLines />
    <Header />
    <div class="mx-6 mt-20 flex flex-1 flex-col md:mx-11 2xl:mx-16">
      <main class="flex-1">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>

<script>
  import textScramble from '@/lib/text-scramble'
  textScramble()
</script>
